In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [6]:
# read the dataset
df = pd.read_csv('C:\\Users\\Vishaly\\OneDrive - Hong Kong Baptist University\\Miscellaneous\\Vishaly\\Coding\\Data-Science-Projects\\house-prices-advanced-regression-techniques\\data\\test.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [7]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
Length: 80, dtype: object

In [8]:
# identify the missing values
df.isna().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotFrontage      227
LotArea            0
                ...
MiscVal            0
MoSold             0
YrSold             0
SaleType           1
SaleCondition      0
Length: 80, dtype: int64

In [10]:
# encode the ExterQual with 0,1,2,3 and 4
df['ExterQual'] = df['ExterQual'].map({'Po':4, 'Fa':3, 'TA':2, 'Gd':1, 'Ex':0})

In [11]:
# encode the ExterCond with 0,1,2,3 and 4
df['ExterCond'] = df['ExterCond'].map({'Po':4, 'Fa':3, 'TA':2, 'Gd':1, 'Ex':0})

In [12]:
# encode the BsmtQual with 0,1,2,3,4 and 5
df['BsmtQual'] = df['BsmtQual'].map({'NA':5 ,'Po':4, 'Fa':3, 'TA':2, 'Gd':1, 'Ex':0})

In [13]:
# encode the BsmtCond with 0,1,2,3,4 and 5
df['BsmtCond'] = df['BsmtCond'].map({'NA':5 ,'Po':4, 'Fa':3, 'TA':2, 'Gd':1, 'Ex':0})

In [14]:
# encode BsmtExposure with 0,1,2,3,4 and 5
df['BsmtExposure'] = df['BsmtExposure'].map({'NA':5 ,'Po':4, 'Fa':3, 'TA':2, 'Gd':1, 'Ex':0})

In [15]:
# encode BsmtFinType1 with 0,1,2,3,4,5 and 6
df['BsmtFinType1'] = df['BsmtFinType1'].map({'NA':6 ,'Unf':5, 'LwQ':4, 'Rec':3, 'BLQ':2, 'ALQ':1, 'GLQ':0})

In [17]:
# encode HeatingQC with 0,1,2,3,4 and 5
df['HeatingQC'] = df['HeatingQC'].map({'Po':4, 'Fa':3, 'TA':2, 'Gd':1, 'Ex':0})

In [18]:
# encode CentralAir with 0 and 1
df['CentralAir'] = df['CentralAir'].map({'N':0, 'Y':1})

In [21]:
# encode KitchenQual with 0,1,2,3,4 and 5
df['KitchenQual'] = df['KitchenQual'].map({'Po':4, 'Fa':3, 'TA':2, 'Gd':1, 'Ex':0})

In [23]:
# encode BsmtFinType2 with 0,1,2,3,4,5 and 6
df['BsmtFinType2'] = df['BsmtFinType2'].map({'NA':6 ,'Unf':5, 'LwQ':4, 'Rec':3, 'BLQ':2, 'ALQ':1, 'GLQ':0})

In [24]:
# encode FireplaceQu with 0,1,2,3,4, and 5
df['FireplaceQu'] = df['FireplaceQu'].map({'NA':5 ,'Po':4, 'Fa':3, 'TA':2, 'Gd':1, 'Ex':0})

In [25]:
# encode GarageQual with 0,1,2,3,4, and 5
df['GarageQual'] = df['GarageQual'].map({'NA':5 ,'Po':4, 'Fa':3, 'TA':2, 'Gd':1, 'Ex':0})

In [26]:
# encode GarageCond with 0,1,2,3,4, and 5
df['GarageCond'] = df['GarageCond'].map({'NA':5 ,'Po':4, 'Fa':3, 'TA':2, 'Gd':1, 'Ex':0})

In [28]:
# encode PoolQC with 0,1,2,3, and 4
df['PoolQC'] = df['PoolQC'].map({'NA':4 ,'Fa':3, 'TA':2, 'Gd':1, 'Ex':0})

In [32]:
# Assuming df is your original DataFrame
# Select only the numerical columns
numerical_cols = df.select_dtypes(include=[np.number]).columns

# Normalize the selected numerical columns
df_norm = (df[numerical_cols] - df[numerical_cols].mean()) / df[numerical_cols].std()

# Display the normalized DataFrame
df_norm.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,ExterCond,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,MiscVal,MoSold,YrSold
0,-0.874411,0.510333,0.363804,-0.750844,0.400629,-0.340828,-1.072517,-0.566973,NaN,0.223442,...,0.366553,-0.701387,-0.360615,-0.088796,1.818336,-0.057207,NaN,-0.092212,-0.038268,1.713318
1,-0.874411,0.555022,0.897553,-0.054858,0.400629,-0.439544,-1.214492,0.041046,NaN,0.223442,...,2.347063,-0.178765,-0.360615,-0.088796,-0.301440,-0.057207,NaN,19.723675,-0.038268,1.713318
2,0.061330,0.242199,0.809368,-0.750844,-0.497247,0.843770,0.678509,-0.566973,NaN,0.223442,...,0.930176,-0.207799,-0.360615,-0.088796,-0.301440,-0.057207,NaN,-0.092212,-1.140224,1.713318
3,0.061330,0.420955,0.032053,-0.054858,0.400629,0.876675,0.678509,-0.454377,NaN,0.223442,...,2.088735,-0.178765,-0.360615,-0.088796,-0.301440,-0.057207,NaN,-0.092212,-0.038268,1.713318
4,1.464941,-1.143162,-0.971475,1.337113,-0.497247,0.679242,0.394559,-0.566973,NaN,0.223442,...,-0.729382,0.489031,-0.360615,-0.088796,2.242291,-0.057207,NaN,-0.092212,-1.874861,1.713318